
/* SINGLE DECLARATION */
div { transition: width 2s; -moz-transition: width 2s; -webkit-transition: width 2s; -o-transition: width 2s; }

/* MULTIPLE */
div {  	transition: width 2s, height 2s, transform 2s; 
		-moz-transition: width 2s, height 2s, -moz-transform 2s;
		-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
		-o-transition: width 2s, height 2s,-o-transform 2s;
	}